
    #our-speaker {
      margin-top: 50px;
      font-size: 50px;
      font-weight: bold;
      font-family: Orbitron, sans-serif;
    }
    .card{
      margin: 25px;
      padding: 24px;
    }
    :root{
      background: #000;
    }
   #h4{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
   }



@keyframes spin-x {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

.animate-spin-x {
  animation: spin-x 0.25s linear infinite; /* hyper speed */
  transform-style: preserve-3d;
}
